.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 5rem;
  width: 50rem;
  padding: 2rem;
  background-color: #1b263b;
  color: #1b263b;
  font-size: 16px;
}

.main-app {
}

.main-header {
  color: #e0e1dd;
  margin: 0;
  /* padding-bottom: 0.5rem; */
}
