.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
  background-color: #e0e1dd;
}

.search-container {
  position: absolute;
  margin: 0rem;
  padding: 0rem;
  right: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  padding: 0.2rem;
  border: 2px solid #0d1b2a;
}

.search-container:hover {
  cursor: pointer;
}

.download-icon-container {
  position: absolute;
  margin: 0rem;
  padding: 0rem;
  top: 5rem;
  right: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  padding: 0.2rem;
  border: 2px solid #0d1b2a;
}

.download-icon-container:hover {
  cursor: pointer;
}

.latex-output {
  margin: 0;
  padding: 0%;
}

.latex-output h3 {
  color: #0d1b2a;
  margin: 0%;
  padding: 0.5rem;
}

.latex-equation {
  font-size: 20px;
  max-width: 40rem;
  height: 8rem;
  padding: 0.5rem;
  border: 1px solid #0d1b2a;
  overflow-x: scroll;
}

.latex-equation::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.latex-equation::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.latex-equation::-webkit-scrollbar:hover {
  width: 2px;
  height: 40px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.latex-equation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.final-output h3 {
  color: #0d1b2a;
  margin: 0%;
  padding: 0.5rem;
}

.final-equation {
  font-size: 20px;
  min-width: 20rem;
  height: 8rem;

  border: 1px solid #0d1b2a;
  overflow-x: scroll;
  font-size: 30px;
  max-width: 40rem;
  max-height: 7rem;
  border: 1px solid #0d1b2a;
  padding: 2rem;
  overflow-x: scroll;
}

.final-equation * {
  /* font-size: 40px; */
  /* margin: 3px; */
  /* padding: 2px; */
}

.final-equation2 * {
  /* opacity: 0; */
  /* font-size: 40px; */
  /* margin: 0.1rem; */
  /* padding: 0.05rem; */
}

.final-equation::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.final-equation::-webkit-scrollbar {
  margin: 0rem;
  padding: 0rem;
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

.final-equation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.header-container {
  padding: 0;
  margin: 0rem;
}

.panel-buttons-tabs {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.8rem;
  border-bottom: 2px solid #0d1b2a;
}

.panel-buttons-tab {
  font-size: 1.2rem;
  background-color: #778da9;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 7rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-buttons-tab-selected {
  border: 2px solid green;
}

.panel-buttons-tab:hover {
  border: 2px solid black;
  cursor: pointer;
}

.panel-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  max-height: 6rem;
  overflow-y: scroll;
}

.panel-buttons-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.panel-buttons-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

.panel-buttons-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.panel-button {
  font-size: 1.3rem;
  min-width: 4rem;
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.panel-button:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-area-main {
  min-width: 10rem;
  min-height: 7rem;
  max-height: 200px;
  overflow-x: scroll;
  max-width: 30rem;
  padding: 10px;
  margin-top: 10px;
  border: 1px black dotted;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.edit-area-main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-area-main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.edit-area-main::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

.edit-area-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.edit-area {
  margin: 0rem;
  padding: 0rem;
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-area-empty {
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  margin: 1px;
  border: 1px black dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-area:hover,
.edit-area-main:hover {
  cursor: text;
}

.selected-edit-area {
  border: 1.5px red dotted;
}

.square-root-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-area {
}

.superscript-container {
  position: relative;

  top: -10px;
  /* left: -10px; */
  /* display: flex;
  align-items: start;
  height: 50%; */
}

.subscript-container {
  position: relative;
  top: 10px;
  /* left: -10px; */
  /* display: flex;
  align-items: start;
  height: 50%; */
}

.subscript-container .edit-area {
  min-width: 10px;
  min-height: 10px;
}

.subscript-container .edit-area-empty {
  min-width: 10px;
  min-height: 10px;
}

.superscript-container .edit-area {
  min-width: 10px;
  min-height: 10px;
}

.superscript-container .edit-area-empty {
  min-width: 10px;
  min-height: 10px;
}

.matrix-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.matrix-row {
  display: flex;
  flex-direction: row;
  /* gap: 1rem;
  justify-content: center;
  align-items: center; */
}

.matrix-column {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: red; */
  /* gap: 1rem; */
}
/* .superscript-container .edit-area {
  background-color: aqua;
} */

/* .square-root-container .edit-area {
  border-top: 1px solid;
} */

/* .cursor { */
/* border-right: 1px solid #555; */
/* background-color: #778da9; */
/* }  */

@keyframes blink {
  0% {
    border-color: #ccc; /* Start color */
  }
  50% {
    border-color: #000; /* Intermediate color */
  }
  100% {
    border-color: #ccc; /* End color */
  }
}

.cursor {
  border-right: 1px solid #ccc; /* Initial border style */
  animation: blink 1s infinite; /* Apply animation */
}

.cursor-1 {
  border-left: 1px solid #ccc; /* Initial border style */
  animation: blink 1s infinite; /* Apply animation */
}
